 body {
    font-family: 'Raleway', sans-serif;
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        overflow-x:hidden;
        
}

.navbar{
    background-color: #ececec;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size : 20px;
    align-items: center;
    
    transition: all 0.3s;
    
}
.nav-list{
    list-style-type: none;
    color: black;
    width: 100%;
    text-align: center;    
    padding: 0;
    margin-top: 0;
    position: absolute;
    top: 78px;
    opacity: 0;
    font-size: 17px;
    
}  
.navbar-active{
padding-bottom: 7.5em;
}  

.active{
    
    transition: all 0.3s;
    opacity: 1;
}

.list-item{
    padding-top:1em;

    transition: all 0.3s ease-in-out;
}
.list-item:active{
    transform: scale(1.1,1.1);
    transition: all 0.1s;
    text-decoration: underline;
}

.navbar a{
    color: black;
    text-decoration: none;
}
.navbar a:hover{
    
    text-decoration: underline;
}

.menu-line{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 4px;
    transition: all 0.3s;
    border-radius: 4px;
}
.menu-line-top{
 width:12.5px
}
.menu-line-mid{

}
.menu-line-bottom{
    width:12.5px
}

.menu{
    display: block;
    position: absolute;
    right: 46px;
    top: 46px;
    
}
.menu:active{
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}
.top-active{
    transform: rotate(44deg);
    padding: 0;
    margin: 0;
}
.mid-active{
    transform: rotate(-44deg) translate(-2.5px);
    padding: 0;
    margin: 0;
}
.bottom-active{
    
    transform: rotate(45deg) translate(9px) translateY(-4.5px);
    
}
@keyframes midFlyOut {
    0% {
        transform: translate(10px);
      }
      30% {
        transform: translate(20px);
      }
      100% {
        transform: translate(4010px);
        display: none;
}
}





.logo{
    
    margin-top: 0px;
    mix-blend-mode: color-burn;
    
}
/*End of navigation bar styling*/

.herobox{
    background-color: #000000d3;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-bottom:30px;
    padding-top:0.3em;
    

}
.herotext{
    width: 100%;
}

.herotext h1{
    font-size: 38px;
    font-weight: 500;
    color:#f9faf8;
   margin-bottom:1px;
   margin-top :0px;
   
}
.ethnocentric{
    font-weight: 1;
    font-family: 'Ethnocentric';
    font-size: 42px;
}
.herotext p {
   font-size: 18px;
   color: #e5e7eb;  
   margin-top :1px;
}
.herotext{
    width: 100%;
}
.herotext button,.bottom-box button{
    background-color:#00000000;
    padding: 8px 35px;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ececec ;
    color:white;
    transition: all 0.1s;
}
.herotext button:active{
    color:black;
    border: 1px solid #00000000;
    background-color: white;
    transform: scale(1.1,1.1);
    transition: all 0.1s;
}
.heroimg img{
    /*width: 550px;*/
    /*display: inline-block;*/
    /*float: inline-end;
   /* padding-left:  200px;*/
    padding-bottom: 100px;
    
}
.swiper-slide img{
    width: 100%;
    border-radius: 6px;
    
}
.swiper{
    margin-top:1em;
    margin-bottom: 1em;
    width:100%;
    
}

/*End of hero styling*/



.second-header{
    text-align: center;
    color: #000000;
    font-size: 32px;
    font-weight: 500;
}

.second{
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    color: black;
    text-align: center;
    font-size: 1.5em;
    padding:0;
    margin: 0;
}

.third{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000d3; 
    padding:2em;
    margin:0;
    border-top: 1px solid white;
}
.quote blockquote{
text-align: left;
font-size: 1.3rem;  
font-weight: lighter;
color: black;
}
.quote p{
    text-align: right;
    font-size: 16px;
}
.quote{
    border: 1px solid #000000d3;
    border-radius: 6px;
    margin: 1em;
}
.bottom-box{
    background-color: #ececec00;
    font-size:18px;
    text-align: center;
    transition: all 0.3s;
    width: 100%;
    width: fit-content;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    
    
}
.bottom-box h3{
    padding:0px;
    margin:0px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}
.bottom-box p{
    padding:0px;
    font-size: 1em;
    margin: 1.2rem;
    color: white;
    
}


    
.copyright span{
    align-items: center;   
    display: flex;
    align-items: center;
    justify-content: center;
 padding: 0.8em;
 background-color: #ececec;
    color:black;
}


@media screen and (min-width: 769px) {
    body{
        display: none;
    }
}

  